.delete-button {
  padding: 8px 10px;
  background-color: #3b7db5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #356fa2;
}