.delete-button {
  padding: 8px 10px;
  background-color: #428BCA;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #025aa5;
}