.round-img {
    height: 32px;
    width: 32px;

    left: 0;
    background-color: transparent;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    background-image: url(/web/images/def_user_avatar.png);
    background-size: contain;
}

.accounts_dropdown_menu {
    display: none;

    position: absolute;
    width: 100%;
    content: "";
    top: 26px;
    border: 1em solid transparent;
    z-index: 999;
}

.accounts_dropdown_menu_item:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.accounts_dropdown_menu_link{
    color: inherit;
    text-decoration: none;
}
.accounts_dropdown_menu_link:hover{
    color: rgb(30, 123, 188);
}
.accounts_dropdown_menu.expanded {
    display: block;
}

.accounts_dropdown {
    background-color: rgb(232 236 239);
}

.accounts_dropdown:hover {
    background-color: rgb(203 207 209);
}

.color-primary-text {
    color: rgb(30, 123, 188);
}

.form-check-input:checked {
    background-color: rgb(30, 123, 188);
    border-color: rgb(30, 123, 188);
}

.icon_add_account {
    display: inline-block;
    border-radius: 60px;
    box-shadow: inset 0px 0px 0px 2px rgb(44 112 157);
    padding: 0.5em 0.6em;
}

.label-field {
    font-weight: 500;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected, .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[aria-selected=true] {
    color: #000;
    background-color: #e9ecef;
}

.select2-container--bootstrap-5 .select2-search--dropdown .select2-search__field {
    background: url('../images/select2search.png') right top no-repeat;
    background-position: right 4px;
}

.btn_remove_line {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #212529;
}


.additional_col_addon {
    color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
}

.btn_login_google:hover {
    background-color: white;
}

.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{
    margin-bottom: auto;
}

div.col-12.unic_col_row > span > span.selection > span > ul > li.select2-search.select2-search--inline{
    display: none;
}